:root {

    /* panels */
    /* 
        - panel base color (hue channel)
        - panel text black/white
    */
    --COLOR_PANEL_BG: hsla(226, 85%, 32%, 0.75);
    --COLOR_PANEL_LO: hsla(226, 90%, 27%, 0.75);
    --COLOR_PANEL_BUTTON: hsl(226, 67%, 49%);
    --COLOR_PANEL_BUTTON_HOVER: hsl(226, 73%, 43%);
    --COLOR_PANEL_BUTTON_ACTIVE: hsl(226, 72%, 41%);
    --COLOR_PANEL_HI: hsl(226, 80%, 44%);
    --COLOR_PANEL_FOCUS: hsl(32, 85%, 56%);
    --COLOR_PANEL_BORDER: hsl(232, 85%, 11%);
    --COLOR_PANEL_BORDER_FOCUS: hsl(207, 98%, 66%);
    --COLOR_PANEL_TEXT: hsl(0, 0%, 94%);
    --COLOR_PANEL_TEXT_FOCUS: hsl(0, 0%, 100%);
    --COLOR_PANEL_TEXT_PLACEHOLDER: hsl(0, 0%, 61%);
    --COLOR_TOOL_TIP_BG: hsl(226, 100%, 64%);

    /* tools */
    /* 
        - active tool color (calc difference)
    */
    --COLOR_TOOL_BASE: hsl(0, 0%, 100%);
    --COLOR_TOOL_HOVER: hsl(0, 0%, 77%);
    --COLOR_TOOL_TEXT: hsl(0, 0%, 0%);
    --COLOR_TOOL_SIZE_BASE: hsl(0, 0%, 100%);
    --COLOR_TOOL_SIZE_HOVER: hsl(0, 0%, 77%);
    --COLOR_TOOL_ACTIVE: hsl(271, 77%, 66%);
    --COLOR_TOOL_SIZE_ACTIVE: hsl(271, 77%, 66%);

    /* inputs */
    --COLOR_INPUT_BG: hsl(0, 0%, 100%);
    --COLOR_INPUT_HOVER: hsl(0, 0%, 100%);
    --COLOR_INPUT_TEXT: hsl(0, 0%, 17%);
    --COLOR_INPUT_BORDER: hsl(0, 0%, 44%);
    --COLOR_INPUT_BORDER_FOCUS: hsl(207, 98%, 66%);

    /* ui */
    --COLOR_PLAYER_TEXT_BASE: hsl(0, 0%, 0%);
    --COLOR_PLAYER_ME: hsl(214, 100%, 64%);
    --COLOR_PLAYER_ME_GUESSED: hsl(216, 100%, 35%);
    --COLOR_PLAYER_BG_BASE: hsl(0, 0%, 100%);
    --COLOR_PLAYER_BG_ALT: hsl(0, 0%, 93%);
    --COLOR_PLAYER_BG_GUESSED_BASE: hsl(113, 68%, 58%);
    --COLOR_PLAYER_BG_GUESSED_ALT: hsl(113, 57%, 50%);
    --COLOR_GAMEBAR_TEXT: hsl(0, 0%, 0%);
    --COLOR_GAMEBAR_ROUND_TEXT: hsl(0, 0%, 0%);
    --COLOR_GAMEBAR_WORD_DESCRIPTION: hsl(0, 0%, 21%);
    --COLOR_TEXT_CANVAS_TRANSPARENT: hsl(0, 0%, 25%);

    /* chat */
    --COLOR_CHAT_TEXT_BASE: hsl(0, 0%, 0%);
    --COLOR_CHAT_TEXT_GUESSED: hsl(103, 68%, 48%);
    --COLOR_CHAT_TEXT_CLOSE: hsl(54, 100%, 44%);
    --COLOR_CHAT_TEXT_DRAWING: hsl(216, 60%, 52%);
    --COLOR_CHAT_TEXT_JOIN: hsl(103, 68%, 48%);
    --COLOR_CHAT_TEXT_LEAVE: hsl(21, 91%, 42%);
    --COLOR_CHAT_TEXT_OWNER: hsl(32, 100%, 63%);
    --COLOR_CHAT_TEXT_GUESSCHAT: hsl(86, 47%, 46%);
    --COLOR_CHAT_BG_BASE: hsl(0, 0%, 100%);
    --COLOR_CHAT_BG_ALT: hsl(0, 0%, 93%);
    --COLOR_CHAT_SCROLLBAR: hsl(0, 0%, 49%);
    --COLOR_CHAT_SCROLLBAR_THUMB: hsl(0, 0%, 78%);
    --COLOR_CHAT_BG_GUESSED_BASE: hsl(105, 100%, 94%);
    --COLOR_CHAT_BG_GUESSED_ALT: hsl(104, 100%, 87%);
    --COLOR_CHAT_INPUT_COUNT: hsl(0, 0%, 0%);

}