#game-chat{
    position:relative;
}
    #game-chat #lobby-nav {
        position: absolute;
        font-size: 1rem;
        font-weight: 700;
        bottom: 100%;
        left: 0;
        text-shadow: 0 0 3px rgb(0 0 0 / 60%);
        color: #fff;
        width: 100%;
        text-align: center;
        margin-bottom:5px;
    }
.avatar-customizer .container {
    margin: 0 30px
}

#game {
    margin-bottom: 15px !important;
}

#panel-right, #panel-left{
    display:none !important;
}

:is(#rightPanelContent,#leftPanelContent) h2 span:first-child {
    user-select:none;
    float: right
}
:is(#rightPanelContent,#leftPanelContent) h2 span:last-child {
    user-select: none;
    float: left
} 
#leftPanelContent h2 span:first-child{
    cursor:pointer;
    opacity:.5;
}
#rightPanelContent.lobbies h2 span:first-child {
    opacity: 0.5;
    cursor: pointer;
} #rightPanelContent.lobbies h2 span:last-child {
    opacity: 1;
    pointer-events: none;
} #rightPanelContent.lobbies #cabinSlots {
    display:none;
} #rightPanelContent.cabin #discordLobbies {
    display: none;
} #rightPanelContent.lobbies #discordLobbies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
    height: 100%;
    align-content: flex-start;
} #discordLobbies::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
} #rightPanelContent.cabin h2 span:last-child {
    opacity: 0.5;
    cursor: pointer;
} #rightPanelContent.cabin h2 span:first-child {
    opacity: 1;
    pointer-events: none;
} #rightPanelContent.cabin #discordLobbies {
    display: none;
} #typoUserInfo {
    padding: 1em;
    background: inherit;
    border-radius: 1em;
    font-weight: bold;
    margin: 1em;
    text-align: center;
    pointer-events: none;
    user-select: none
} #typoUserInfo small{
      opacity: 0.6;
  }
  #typoUserInfo #ptrLogout, #typoUserInfo #ptrManage{
      pointer-events:all;
      cursor:pointer;
      opacity:0.8;
  }
  
  #loginRedir{
    z-index:-1;
    opacity:0;
    position:absolute;
    inset:0;
    display:flex;
    place-items:center;
    transition:opacity .25s;
} #loginRedir button {color:inherit !important;} #cabinSlots.unauth:hover > div:not(#loginRedir){
    opacity: 0.3;
} #cabinSlots.unauth:hover #loginRedir {
    opacity:1;
    z-index:10;
} #cabinSlots {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
    aspect-ratio: 1;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    opacity: 1;
    transition: opacity 0.25s;
} #cabinSlots::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
    } #cabinSlots > div {
        aspect-ratio: 1;
        display: flex;
        flex-direction: column;
        place-items: center;
        place-content: center;
        border-radius: .5em;
        background-color: #00000014;
        user-select: none;
    } #cabinSlots > div:not(#loginRedir) {
            cursor: not-allowed;
            pointer-events: none;
        } #cabinSlots > div:not(#loginRedir) * {
            pointer-events: none;
        } #cabinSlots > div:not(#loginRedir) > p {
            font-size: 0.7em;
            color:inherit !important;
        } #cabinSlots > div:not(#loginRedir).unlocked, .spriteChoice {
                background-color: #ffffff14;
                cursor: pointer;
                transform: scale(1);
                transition: all .2s;
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
                color: transparent;
                pointer-events: all;
            } .spriteChoice:hover {
                transform: scale(0.95);
            } #cabinSlots > div:not(#loginRedir).unlocked:hover {
                    transform: scale(0.95);
                    color: unset;
                    background-size: 0%;
                } #panelgrid {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-column-gap: 2em;
    color:white;
} #panelgrid a{color:inherit;} #panelgrid > div:nth-child(1){
    height:90%;
    margin-top:10%;
    width:95%;
    margin-left:5%;
} #panelgrid > div:nth-child(3) {
        height: 90%;
        margin-top: 10%;
        width: 95%;
        margin-right: 5%;
    } #panelgrid .panel h2 {margin-top:0;} typosocial {
    font-size:0.9em;
    cursor:pointer;
    display: inline-block;
    padding: .8em;
    border-radius: .5em;
    margin: .5em;
    color: white;
    line-height: 1em;
    background-size: 1.5em 1.5em;
    background-repeat: no-repeat;
    background-position: .2em center;
    transform: scale(1);
    transition:transform .2s;
    image-rendering:auto;
} typosocial:hover {
        transform: scale(0.95);
    } typosocial a {
        margin-left:1.5em;
        text-decoration: none;
        color: white;
        font-weight:bold;
    } typosocial[media=discord] {
        background-color: #5865F2;
        background-image: url(https://cdn.discordapp.com/attachments/334696834322661376/885972636239282246/discord_logo_icon_181298.png);
    } typosocial[media=website] {
        background-color: #7058f2;
        background-image: url(https://cdn.discordapp.com/attachments/334696834322661376/885973183977619476/256CircleFit.png);
    } typosocial[media=patreon] {
        background-color: #FF424D;
        background-image: url(https://cdn.discordapp.com/attachments/334696834322661376/885975333990461490/5396969-black-patreon-logo-png-1-sound-of-the-future-patreon-logo-png-1600_1600_preview.png);
    } typosocial[media=github] {
        background-color: black;
        background-image: url(https://cdn.discordapp.com/attachments/334696834322661376/885977424863584256/Untitled-1.png);
    } #home .news .head, #game-room .container-settings .lobby-name{border-bottom-color:transparent !important} #game-board #game-canvas canvas {
    image-rendering: pixelated;
} #randomColor, #colPicker{
    width:100%;
    height:100%;
} div#game-chat div.container form{
    display:flex;
    flex-direction:row;
} div#game-chat div.container form input {
    width:auto;
    flex-grow:2;
} .avatar .special.typoSpecialSlot{
    background-size:cover;
} input[type=radio] {
    height: unset;
    width: unset;
} .emojiwrapper {
    background-color: rgba(0,0,0,0.1);
    display: inline-block;
    cursor: pointer;
    border-radius: 0.3em;
    padding: 0.1em;
    margin: .2em;
} .emojipreview {
    position: relative;
    bottom: -0.25em;
    display: inline-block;
    height: 1em;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1em;
    image-rendering: auto;
} .flatUI, input[type=checkbox].flatUI {
    border: none;
    color: black;
    font-size: small;
    width: 100%;
    margin: .5em 0;
    border-radius: 8px;
    background: #e2e2e2 !important;
    padding:.5em;
    /*box-shadow: #00000091 0px 2px 2px 0px;*/
} .flatUI:hover, .flatUI:focus, .flatUI:active {
        background: #d4d4d4 !important;
    } .flatUI.orange {
        background: #ffbf1f !important;
        color: white;
    } .flatUI.orange:hover, .flatUI.orange:focus, .flatUI.orange:active {
            background: #e8b83e !important;
        } .flatUI.green {
        background: #0ac200 !important;
        color: white;
    } .flatUI.green:hover, .flatUI.green:focus, .flatUI.green:active {
            background: #079100 !important;
        } .flatUI.blue {
        background: #51a1eb !important;
        color:white;
    } .flatUI.blue:hover, .flatUI.blue:focus, .flatUI.blue:active {
            background: #3d93e2 !important;
        } .flatUI.min{
        width:auto;
        display:inline-block;
    } .flatUI.air {
        padding: .7em 1em;
    } input.flatUI, input.flatUI:focus {
    border:none;
    border-bottom: 2px solid black;
    border-radius: 4px;
} label input[type=checkbox].flatUI {
    float: left;
    width: 2em;
    height: 2em;
    margin: 0 0 0.2em 0;
    cursor:pointer;
    position:relative;
} label input[type=checkbox].flatUI.small {
        font-size: .7em;
    } label input[type=checkbox].flatUI.small + span {
        font-size: .8em;
    } span.small {
    font-size: .8em;
} label input[type=checkbox].flatUI + span {
        height: 2em;
        display: inline-block;
        margin: .2em 0;
        margin-left: .5em;
        cursor: pointer;
        width: calc(100% - 3em);
    } label input[type="checkbox"].flatUI:checked:after {
        content: "🞬";
        position: absolute;
        inset: 0;
        display: grid;
        place-items: center;
        font-size: 1.5em;
    } #sharePopup, #optionsPopup, #downloadPopup, #gamemodePopup {
    position: absolute;
    background-color: rgb(3 34 140 / 75%);
    color: white;
    backdrop-filter: blur(4px);
    overflow: hidden;
    z-index: 5;
    width: 90%;
    outline: none;
    border-radius: 0.5em;
    box-shadow: black 1px 1px 9px -2px;
    min-height: 15%;
    padding: 1em;
    bottom: 3em;
} #emojiPrev {
    background-color: rgb(3 34 140 / 75%);
    backdrop-filter: blur(4px);
    box-shadow: black 1px 1px 9px -2px;
} #game-players.room #imageOptions{
    display:none;
} #shareImagePreview {
    width: 100%;
    padding: 1.5em 0;
} #imageOptions {
    position: absolute;
    height: 50px;
    background-color: var(--COLOR_PANEL_BG);
    width: 100%;
    bottom: -56px;
    border-radius: 8px;
    display: flex;
    padding: .6em 0px;
    justify-content: space-evenly;
} #imageOptions img {
        filter: drop-shadow(0px 2px 3px #00000093);
        cursor: pointer;
        transform: translate(0);
        transition: transform 0.1s ease-in-out;
    } #imageOptions img:hover {
            transform: translate(0,-5px) scale(1.05);
        } #charbar {
    border-radius: 4px;
    margin: 0px 0.2em;
    padding: 0px 0.5em;
    display: grid;
    place-items: center;
} .button-blue {
    font-size: 1em;
    padding: .4em .6em;
    background-color: #2c8de7;
    background-image: linear-gradient( 140deg,#187bd7,#2c8de7);
    box-shadow: inset 0 -6px #1361a9;
    text-shadow: 1px 1px 0 #0000007a;
    transition: background-color .1s;
    border-radius: 22.75px;
    font-weight: 700;
    margin-left: 1em;
    margin-right: 1em;
} .button-blue:hover {
        padding-top: .3em;
        background-color: #51a1eb;
        background-image: linear-gradient( 140deg,#5aa6ec,#51a1eb);
    } .button-orange {
    font-size: 1em;
    padding: .4em .6em;
    background-color: #e7b21f;
    background-image: linear-gradient(140deg,#cc9c16,#e7b21f);
    box-shadow: inset 0 -6px #9e7911;
    text-shadow: 1px 1px 0 #0000007a;
    transition: background-color .1s;
    border-radius: 22.75px;
    font-weight: 700;
    margin-left: 1em;
    margin-right: 1em;
} .button-orange:hover {
        padding-top: .3em;
        background-color: #ebbf44;
        background-image: linear-gradient(140deg,#ecc24d,#ebbf44);
    }
/* Accessibility */
#containerFreespace {
  background: none;
} .tooltip.show {
  opacity: 1;
} .tooltip .tooltip-inner, .tooltip .arrow {
  color: #eee !important;
  background-color: rgba(0, 0, 0, 0.9);
} .tooltip .tooltip-inner {
  border: 1px solid #222;
} div hr{
    border-top-width: 4px;
} div#currentWord { text-align: right; } #wordSize {
  flex: 1 1 auto;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 3px;
} input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Character counter */
#boxChatInput {
  display: flex;
} #formChat {
  width: 100%;
}
/* Keybinds */
.keybindMenu > div {
  display: flex;
  margin-bottom: 10px;
} .keybindMenu > h4, .keybindMenu > h5, .keybindMenu > p {
  text-align: center;
} .keybindMenu p {
  font-size: 12px;
} .keybindMenu h5 {
  font-size: 16px;
} .keybindMenu h5.plus {
  margin-left: 10px;
  font-weight: bold;
} .keybindMenu label {
  vertical-align: middle;
  align-self: center;
  margin-bottom: 0;
} .keybindMenu > div > label:nth-child(n + 2) {
  margin-left: 10px;
} .keybindMenu .form-control {
  margin-left: 10px;
  width: auto;
}
/* Gamemodes */
.gamemodeMenu {
  display: flex;
  margin-top: 10px;
} .gamemodeMenu label {
  align-self: center;
} .gamemodeMenu select {
  margin-left: 10px;
} .gamemodeDeaf .message {
  display: none !important;
} .gamemodeDeaf #boxMessages {
  opacity: 0;
} #imageCloud {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 18%;
    max-height: 100%;
    overflow-y: auto;
} #imageCloudSidebar {
    position: absolute;
    left: 0;
    padding: 1em;
    top: 0;
    bottom: 0;
    width: 18%;
    background: rgb(115 169 251 / 12%);
    border-radius: 1em;
    overflow: hidden;
} #imageCloudSidebar h4 {
        margin-bottom:.5em;
    } #imageCloud > div {
    width: 30%;
    margin: 0.5em;
    position: relative;
} #imageCloud > div > img {
        width: 100%;
        height: auto;
        transition: opacity 0.25s ease 0s;
        box-shadow: rgb(0 0 0 / 15%) 1px 1px 9px 1px;
        opacity: 1;
    } #imageCloud > div > div {
        transition: opacity 0.25s ease 0s;
        opacity: 0;
        position: absolute;
        inset: 0px;
        display: flex;
        place-items: center;
        justify-content: space-around;
        border-radius: 1em;
        z-index: 200;
        background: rgba(0, 0, 0, 0.1);
        flex-direction: column;
    } #imageCloud > div > div > div {
            display: flex;
            flex-wrap: wrap;
            align-content: space-evenly;
            justify-content: space-evenly;
            height: 100%;
            width: 100%;
            gap: 1em;
        } #imageCloud > div > img.skeletonImage {
        opacity: 0.4;
    } #imageCloud > div.skeletonDiv {
        animation-name: skeleton;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in;
    } @keyframes skeleton {
    from {
        background-color: #fafafa;
    }

    to {
        background-color: #969595;
    }
} .modalContainer {
    padding: 1em;
    /*background-color: white;*/
    background-color: rgb(3 34 140 / 75%);
    backdrop-filter: blur(4px);
    color: white;
    border-radius: 1em;
    box-shadow: black 1px 1px 9px -2px;
    z-index: 60;
    display: flex;
    flex-direction: column;
    transform: translate(0,-20vh);
    opacity: 0;
    transition: transform .1s, opacity .1s;
    max-height: 85vh;
    overflow: hidden;
    position: fixed;
} .modalBlur {
        position: fixed;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
        background-color: black;
        opacity: 0;
        z-index: 59;
        transition: opacity .1s;
    } .modalContainer #modalClose {
    position: absolute;
    right: .5rem;
    top:0;
    font-size: 2em;
    opacity: .5;
    cursor: pointer;
} .modalContainer #modalClose:hover {
    opacity: .9;
} #imageAgent {
    border-radius: 1em;
    width: 100%;
    background-color: rgb(3 34 140 / 75%);
    backdrop-filter: blur(4px);
    padding: .5em;
    margin-bottom: 1em;
} #imageAgent > *:not(img) {
        width: 90%;
        margin: 0 5%;
        display: flex;
        justify-content: space-evenly;
    } #imageAgent > div > img{
    margin-top:1em;
    max-height:20vh;
    max-width:90%;
} #brushmagicSettings .mode{
    margin:2em 0;
} #brushmagicSettings .mode .options:not(:empty){margin-top:1em;}

.tool[data-tooltip='Switcher'] {
    display: none;
}
.tool[data-tooltip='Lab'] .icon {
    background-image:var(--typobrush) !important;
}

