/* Accessibility */
#containerFreespace {
  background: none;
}

.tooltip.show {
  opacity: 1;
}
.tooltip .tooltip-inner,
.tooltip .arrow {
  color: #eee !important;
  background-color: rgba(0, 0, 0, 0.9);
}
.tooltip .tooltip-inner {
  border: 1px solid #222;
}

div hr{
    border-top-width: 4px;
}

div#currentWord { text-align: right; }
#wordSize {
  flex: 1 1 auto;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 3px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Character counter */
#boxChatInput {
  display: flex;
}
#formChat {
  width: 100%;
}

/* Keybinds */
.keybindMenu > div {
  display: flex;
  margin-bottom: 10px;
}
.keybindMenu > h4,
.keybindMenu > h5,
.keybindMenu > p {
  text-align: center;
}
.keybindMenu p {
  font-size: 12px;
}
.keybindMenu h5 {
  font-size: 16px;
}
.keybindMenu h5.plus {
  margin-left: 10px;
  font-weight: bold;
}
.keybindMenu label {
  vertical-align: middle;
  align-self: center;
  margin-bottom: 0;
}
.keybindMenu > div > label:nth-child(n + 2) {
  margin-left: 10px;
}
.keybindMenu .form-control {
  margin-left: 10px;
  width: auto;
}

/* Gamemodes */
.gamemodeMenu {
  display: flex;
  margin-top: 10px;
}
.gamemodeMenu label {
  align-self: center;
}
.gamemodeMenu select {
  margin-left: 10px;
}
.gamemodeDeaf .message {
  display: none !important;
}
.gamemodeDeaf #boxMessages {
  opacity: 0;
}

.visionFrame {
    border: 2px solid black;
    position: fixed;
    width: 50vw;
    height: 50vh;
    top: 25vh;
    display: grid;
    left: 25vw;
    grid-template-columns: 4px auto 4px;
    grid-template-rows: 4em auto 4px;
    border-radius: 8px;
    z-index: 2000;
    pointer-events: none;
    cursor: grab;
    box-shadow: rgb(0 0 0) 0px 0px 0px 2px inset, rgb(255 255 255 / 50%) 0px 0px 3px -1px;
    min-height:10em;
    min-width:10em;
}
.visionContent {
    grid-row-start: 2;
    grid-column-start: 2;
    opacity:.5;
    pointer-events:all;
    background-position:center center;
    background-size:contain;
    background-repeat:no-repeat;
    cursor:unset;
    width:100%;
    height:100%;
}
.visionFrame.ghost .visionContent {
    pointer-events: none;
}
.visionFrame:not(.iframe) iframe.visionContent{display:none;}
.visionFrame.iframe div.visionContent{display:none;}
.visionBorder {
    background: black;
    pointer-events:all;
}
.visionBorder.rightResize{
    cursor:e-resize;
    grid-column-start:3;
}
    .visionBorder.bottomResize {
        cursor: s-resize;
        grid-column-start: 2;
        grid-row-start: 3;
    }
    .visionBorder.allResize {
        cursor: nwse-resize;
        grid-column-start: 3;
        grid-row-start: 3;
    }
.visionHead{
    position:relative;
    grid-row-start:1;
    grid-column-start:1;
    grid-column-end:4;
    background:black;
    pointer-events:all;
    padding:.5em;
}
.visionControl{
    position:absolute;
    top:.5em;
    right:.5em;
    color:red;
    font-size:1.5em;
    cursor:pointer;
}
    .visionHead input:is([type=text], [type=range]){
    width:50%;
}