#sizeslider, #buttonClearCanvas{
  height: 48px !important;
}

/* Accessibility */
#containerFreespace {
  background: none;
}

.login-side-right .adsbygoogle {
    display: none !important;
}

.tooltip.show {
  opacity: 1;
}
.tooltip .tooltip-inner,
.tooltip .arrow {
  color: #eee !important;
  background-color: rgba(0, 0, 0, 0.9);
}
.tooltip .tooltip-inner {
  border: 1px solid #222;
}

div hr{
    border-top-width: 4px;
}

div#currentWord { text-align: right; }
#wordSize {
  flex: 1 1 auto;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 3px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Character counter */
#boxChatInput {
  display: flex;
}
#formChat {
  display: flex;
}
#charbar{
  flex-grow:1;
  padding: 0.2em 1em;
  margin: 0.2em 1em;
  border-radius:.2em;
  margin-right: 0;
}
#formChat {
  width: 100%;
}

/* Keybinds */
.keybindMenu > div {
  display: flex;
  margin-bottom: 10px;
}
.keybindMenu > h4,
.keybindMenu > h5,
.keybindMenu > p {
  text-align: center;
}
.keybindMenu p {
  font-size: 12px;
}
.keybindMenu h5 {
  font-size: 16px;
}
.keybindMenu h5.plus {
  margin-left: 10px;
  font-weight: bold;
}
.keybindMenu label {
  vertical-align: middle;
  align-self: center;
  margin-bottom: 0;
}
.keybindMenu > div > label:nth-child(n + 2) {
  margin-left: 10px;
}
.keybindMenu .form-control {
  margin-left: 10px;
  width: auto;
}

/* Gamemodes */
.gamemodeMenu {
  display: flex;
  margin-top: 10px;
}
.gamemodeMenu label {
  align-self: center;
}
.gamemodeMenu select {
  margin-left: 10px;
}
.gamemodeDeaf .message {
  display: none !important;
}
.gamemodeDeaf #boxMessages {
  opacity: 0;
}

.visionFrame {
    border: 2px solid black;
    position: fixed;
    width: 50vw;
    height: 50vh;
    top: 25vh;
    display: grid;
    left: 25vw;
    grid-template-columns: 4px auto 4px;
    grid-template-rows: 4em auto 4px;
    border-radius: 8px;
    z-index: 2000;
    pointer-events: none;
    cursor: grab;
    box-shadow: rgb(0 0 0) 0px 0px 0px 2px inset, rgb(255 255 255 / 50%) 0px 0px 3px -1px;
    min-height:10em;
    min-width:10em;
}
.visionContent {
    grid-row-start: 2;
    grid-column-start: 2;
    opacity:.5;
    pointer-events:all;
    background-position:center center;
    background-size:contain;
    background-repeat:no-repeat;
    cursor:unset;
    width:100%;
    height:100%;
}
.visionFrame.ghost .visionContent {
    pointer-events: none;
}
.visionFrame:not(.iframe) iframe.visionContent{display:none;}
.visionFrame.iframe div.visionContent{display:none;}
.visionBorder {
    background: black;
    pointer-events:all;
}
.visionBorder.rightResize{
    cursor:e-resize;
    grid-column-start:3;
}
    .visionBorder.bottomResize {
        cursor: s-resize;
        grid-column-start: 2;
        grid-row-start: 3;
    }
    .visionBorder.allResize {
        cursor: nwse-resize;
        grid-column-start: 3;
        grid-row-start: 3;
    }
.visionHead{
    position:relative;
    grid-row-start:1;
    grid-column-start:1;
    grid-column-end:4;
    background:black;
    pointer-events:all;
    padding:.5em;
}
.visionControl{
    position:absolute;
    top:.5em;
    right:.5em;
    color:red;
    font-size:1.5em;
    cursor:pointer;
}
    .visionHead input:is([type=text], [type=range]){
    width:50%;
}

#palantirLobbies.showSlots #lobbiesContent{display:none}
#palantirLobbies.showLobbies #slotsContent {
    display: none
}
#palantirLobbies.showSlots #lobbiesHeader {
    opacity:0.6;
}
#palantirLobbies.showLobbies #slotsHeader {
    opacity: 0.6;
}

#loginRedir {
    z-index: -1;
    opacity: 0;
    position: absolute;
    inset: 0;
    display: flex;
    place-items: center;
    transition: opacity .25s;
}

    #loginRedir {
        color: inherit !important;
    }

#cabinSlots.unauth:hover > div:not(#loginRedir) {
    opacity: 0.3;
}

#slotsContent.unauth:hover #loginRedir {
    opacity: 1;
    z-index: 10;
}

#slotsContent {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
    aspect-ratio: 1;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    opacity: 1;
    transition: opacity 0.25s;
}

    #slotsContent::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
    }

    #slotsContent > div {
        aspect-ratio: 1;
        display: flex;
        flex-direction: column;
        place-items: center;
        place-content: center;
        border-radius: .5em;
        background-color: #00000014;
        user-select: none;
    }

        #slotsContent > div:not(#loginRedir) {
            cursor: not-allowed;
        }

            #slotsContent > div:not(#loginRedir) * {
                pointer-events: none;
            }

            #slotsContent > div:not(#loginRedir) > p {
                font-size: 0.7em;
                color: inherit !important;
            }

            #slotsContent > div:not(#loginRedir).unlocked, .spriteChoice {
                background-color: #80808014;
                cursor: pointer;
                transform: scale(1);
                transition: all .2s;
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
                color: transparent !important;
                pointer-events: all;
            }

                .spriteChoice:hover {
                    transform: scale(0.95);
                }

                #slotsContent > div:not(#loginRedir).unlocked:hover {
                    transform: scale(0.95);
                    color: inherit !important;
                    background-size: 0%;
                }

/* Translation */
@keyframes translating {
  0% {
    background-color: rgb(255, 240, 158);
  }
  50% {
    background-color: rgb(255, 223, 163);
  }
}
#boxMessages p:nth-child(n).translating {
  background-color: rgb(255, 240, 158);
  animation: 1s ease-in-out infinite reverse translating;
}
#boxMessages p:nth-child(n).translated {
  background-color: rgb(231, 250, 231);
}
#boxMessages p:nth-child(n).untranslated {
  background-color: rgb(255, 230, 230);
}

#sharePopup, #downloadPopup, #gamemodePopup{
  position: absolute;
  background: white;
  overflow: hidden;
  z-index: 5;
  width: 90%;
  border-radius: 0.5em;
  margin-left: 5%;
  box-shadow: black 1px 1px 9px -2px;
  min-height: 15%;
  padding: 1em;
  bottom: 1em;
}

#imageOptions > img {
  transition: all .2s;
  -webkit-filter: drop-shadow(2px 2px 2px #000000a0);
  filter: drop-shadow(2px 2px 2px #000000a0);
}
#imageOptions > img:hover {
  transform: translate(0, -.2rem);
}
