.tooltip.show {
    opacity: 1;
}

.tooltip .tooltip-inner,
.tooltip .arrow {
    color: #eee !important;
    background-color: rgba(0, 0, 0, 0.9);
}

.tooltip .tooltip-inner {
    border: 1px solid #222;
}
