body {
    font-family: Arial, Helvetica, sans-serif;
    background: #181a1c;
    color: white;
    letter-spacing: 0.05em;
    margin: 10px;
    width: 65ex;
    font-size: 0.7em;
}

.tabContent {
    background: #232529;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.tabSelection {
    font-size: 1.2em;
    font-weight: 600;
    width: 100%;
    justify-content: space-evenly;
}

.tabActive {
    background: #232529 !important;
    padding: 0.7em !important;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom-left-radius: 0em !important;
    border-bottom-right-radius: 0em !important;
    /*color: #99aab5;*/
}

.tabTitle {
    background: #424549;
    padding: 0.4em;
    cursor: pointer;
    user-select: none;
    transition: background ease 0.3s,border-radius ease 0.3s;
    border-radius: 0.5em;
}

    .tabTitle:not(.tabActive):hover {
        background: #99aab5;
    }
    
::-webkit-scrollbar {
    display: none;
}

#mainSettings {
    overflow: hidden;
}

#advancedSettings, #palantirSettings {
    overflow: hidden;
    display: none;
}

#play {
    image-rendering: pixelated;
}

button, input[type='text'],
#dc {
    cursor:pointer;
    font-size:inherit;
    transition: background 0.15s;
    margin: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: none;
    border-radius: 0.4em;
    background: #424549;
    padding: 1em;
    color: white;
    font-weight: 600;
    letter-spacing: 0.1em;
}
#dc, #help {
    cursor: pointer;
}
#credits::before {
    content: " ";
    display: inline-block;
    width: 3em;
    transform: scale(1.5);
    height: 1em;
    background: url("/res/dc.gif") no-repeat;
    background-size: contain;
    background-position: center center;
}

    button:hover {
        background: #99aab5;
    }

.active {
    background: #7289da;
}

button:focus,
input[type='text']:focus,
button:active {
    border: none;
    outline: 0;
}

h1 {
    font-size: 1.7em;
    text-align: center;
    padding-bottom: .5em;
}
    h1:not(.skribbl) {
        background: #282b30;
        border-radius: 0.5em;
        margin: .5em;
        padding-top: .5em;
    }

.back {
    padding: .8em;
    background: #424549;
    border-radius: .3em;
    margin-left: 1em;
    margin-right: 1em;
}

hr {
    border: none;
    height: 0.2em;
    background: #282b30;
    width: 65%;
    /*margin-top: 1em;*/
    margin-bottom: 1em;
}

.flexcol {
    display: flex;
    flex-direction: column;
}

.flexrow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flexrowMenu > * {
    flex-basis:100%;
}

#advancedPeek, #palantirPeek {
    display:none;
    width: 0;
    height: 0;
    margin-left: calc(50% - 2em);
    margin-right: calc(50% - 2em);
    border-left: 2em solid transparent;
    border-right: 2em solid transparent;
    transition: ease-in-out 0.2s;
}

    #advancedPeek:hover, #palantirPeek:hover {
        border-left: 2.3em solid transparent;
        border-right: 2.3em solid transparent;
        margin-left: calc(50% - 2.3em);
        margin-right: calc(50% - 2.3em);
    }

.peekUp {
    margin-top: 0.3em;
    border-bottom: 1.5em solid #424549;
}

    .peekUp:hover {
        border-bottom: 1.8em solid #99aab5;
        margin-top: 0;
    }

.peekDown {
    border-top: 1.5em solid #424549;
    margin-bottom: 0.3em;
}

    .peekDown:hover {
        border-top: 1.8em solid #99aab5;
        margin-bottom: 0;
    }

.label {
    font-size: 1.2em;
    text-align: center;
    margin-top: 0.4em;
    margin-bottom: 0.2em;
    font-weight: 600;
}

.slider {
    position: relative;
    -webkit-appearance: none;
    margin: 0;
    width: 100%;
    height: 0.5em;
    border-radius: 0.1em;
    outline: none;
    background-color: transparent;
    z-index: 2;
    cursor:pointer;
}

.sliderBox {
    position: relative;
    width: 80%;
    margin-left: 10%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.sliderBar {
    position: absolute;
    left: 0;
    right: 0;
    height: 0.5em;
    border-radius: 0.1em;
    z-index: 1;
    overflow: hidden;
    background-color: #99aab5;
}

.sliderFill {
    display: block;
    width: 50%;
    height: 100%;
    background-color: #7289da;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.5em;
    width: 1.5em;
    background-color: #7289da;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    transform: translateY(-25%);
}

#palettes > button {flex-basis:auto;}

#authGuilds > .label:hover:after {
    position: absolute;
    margin-left: 1em;
    content: 'x';
    color:red;
    font-weight:700;
}
